<div class="event-block">
   <div class="event-date">
      <div class="date"> 
         <span class="day">{{ fields.field_event_start.content }}</span>
         <span class="month">{{ fields.field_event_start_1.content }}</span>
      </div>
      <div class="time">{{ fields.field_event_time.content }}</div>
   </div>
   <div class="event-info">
      <div class="title">{{ fields.title.content }}</div>
      <div class="address"><i class="fa fa-map-marker"></i>{{ fields.field_event_address.content }}</div>
      <div class="body">{{ fields.body.content }}</div>
   </div>
</div>   